@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-text {
  color: #000;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 20px;
  height: 60px;
  overflow: hidden;
}

.line {
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  line-height: 60px;
  font-weight: bolder;
}

.line:first-child {
  animation: a 12s infinite;
}

@keyframes a {
  0% {
    margin-top: 0px;
  }
  16% {
    margin-top: -60px;
  }
  33% {
    margin-top: -120px;
  }
  50% {
    margin-top: -180px;
  }
  66% {
    margin-top: -120px;
  }
  82% {
    margin-top: -60px;
  }
  100% {
    margin-top: 0px;
  }
}

@media (min-width: 640px) {
  .line {
    font-size: 1.25rem;
    font-weight: bolder;
  }
}

@media (min-width: 768px) {
  .line {
    font-size: 5rem;
    font-weight: bolder;
  }
}

@media (min-width: 1024px) {
  .line {
    font-size: 5rem;
    font-weight: bolder;
  }
}

@media (min-width: 1280px) {
  .line {
    font-size: 5rem;
    font-weight: bolder;
  }
}
